@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.nabbtom{
    height: 5vh;
    width: 100%;
    background-color: rgb(248, 195, 71);
}
.nabbtom ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
  list-style: none;
}

.nabbtom ul li {
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    
    font-style: normal;
    font-variation-settings:"wdth" 100;
}
.nabbtom ul li a{
  color: black;
}
.nabbtom ul li a.active{
    color: rgb(255, 255, 255);
    font-family: "Open Sans", sans-serif;
        font-optical-sizing: auto;
    
        font-style: normal;
        font-variation-settings: "wdth" 100;
}
